/* Base Styles */
html, body {
  font-family: "Ubuntu", "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: hsl(0, 0%, 12%);
  background-color: hsl(0, 0%, 12%);
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

.img-box {
  margin: 2rem 1.5rem;
}

/* Header */
header {
  display: flex;
  height: 4rem;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: hsl(18, 87%, 85%);
  border-bottom: 1px solid hsl(218, 19%, 21%);
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(18, 87%, 11%);
}

.logo {
  display: inline-flex;
  font-size: 1.5rem;
  }

.logo img {
  height: 2rem;
  width: auto;
}

.logo h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.logo .bold {
  font-weight: bold;
}

.logo .light {
  font-weight: 300;
}

header nav ul {
  display: inline-flex;
  align-items: center;
  }

header nav li {
  padding-right: 1rem;
  font-size: 1.25rem;
}

header nav li:last-child {
  padding-right: 0;
}

/* Banner */
.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  font-family: "Rubik", sans-serif;
  border-bottom: 1px solid hsl(218, 19%, 21%);
}

.banner .img-box {
  display: flex;
  /* margin: 2rem 1.5rem; */
  /* max-width: 48rem; */
  justify-content: center;
  align-items: center;
  background-position: center;
  max-width: 60%;
}

.banner .img-box img {
  border: 1px solid hsl(0, 3%, 31%);
  max-width: 48rem
}

.banner .slogan-box {
  width: 35%;
  color: hsl(0, 2.5%, 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .slogan-box h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  padding-bottom: 1.75rem;
  color: hsl(85, 47%, 52%);
}

.banner .slogan-box h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding-bottom: 1.25rem;
  color: hsl(218, 19%, 80%);
}

.banner .slogan-box .button {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  /* font-weight: 500; */
  background-color: #41567C;
  padding: .5rem 2.5rem;
  border-radius: .75rem;
  width: 45%;
}

.banner .slogan-box .button:hover {

}

/* Information */
.information {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: hsl(18, 87%, 85%);
  border-bottom: 1px solid hsl(18, 87%, 16%);
  background-color: hsl(19, 100%, 11%);

}

.information .img-slog {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  width: 60%;
  padding-bottom: 2rem;
}

.information .img-slog .img-box {
  display: flex;
  /* margin: 2rem 1.5rem; */
  max-width: 48rem;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.img-slog .slogan-box {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 2rem;
}

.img-slog .slogan-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.25rem;
  padding-bottom: 1.75rem;
  color: hsl(85, 47%, 52%);
}

.img-slog .slogan-box p {
  font-size: 1.15rem;
  padding-bottom: 1.75rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.slogan-box .citation {
  font-style: italic;
}

.information .info-cards {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-top: 1rem;
  border-left: 1px solid hsl(18, 87%, 16%);
}

.information .info-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid hsl(18, 87%, 16%);
}

.information .info-card:hover {
  background-color: hsl(218, 86%, 8%);
  color: hsl(218, 86%, 58%);
}

.information .info-card:hover h4 {
  color: hsl(218, 86%, 58%);
}

.information .info-card:hover .button {
  background-color: hsl(85, 88%, 20%);
  color: #87AE51;
}


.information .info-card .mini-img {
  display: flex;
  max-width: 35%;
  padding: 1rem 1rem;
}
a

.information .mini-img img {
  max-width: 11rem;
}

.information .info-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  padding-right: 2rem;
  text-align: left;
  line-height: 1.5rem;
}

.information .content h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: .75rem;
  color: hsl(85, 47%, 52%);
}

.information .content h5{
  padding-bottom: .75rem;
}

/* Courses */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4.5rem;
  background-color: hsl(19, 100%, 11%);
  color: hsl(218, 86%, 11%);
  border-bottom: 1px solid hsl(218, 19%, 21%);
}

.courses h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  padding-bottom: 2rem;
  color: hsl(85, 47%, 52%);
}

.courses .course-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.courses .course-cards figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18.5rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-radius: .75rem;
}

.course-cards figure img {
  width: 18.5rem;
}

.course-card figcaption {
  padding: 0rem 1rem 2.5rem 1rem;
  width: 16.5rem;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  background-color: hsl(26, 27%, 58%);
  height: 7rem;
}

.course-card figcaption h4 {
  width: 100%;
  margin-bottom: .5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  padding: .75rem;
  background-color: hsl(218, 86%, 8%);
  color: hsl(218, 86%, 68%);
  border-radius: .75rem;
}

.course-card figcaption h4:hover {
  background-color: hsl(85, 88%, 20%);
  color: #87AE51;
}

.course-card figcaption h5 {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-bottom: .5rem;
  font-weight: 500;
}



/* Theses */
.thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: hsl(218, 19%, 80%);
}

.thesis h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  padding: 2rem 0;
  color: hsl(85, 47%, 52%);
}

.thesis .exhibits {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.thesis .img-slog {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  width: 60%;
  padding-bottom: 2rem;
}

.thesis .img-slog .img-box {
  display: flex;
  /* margin: 2rem 1.5rem; */
  max-width: 48rem;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.thesis .slogan-box {
  padding: 0 1rem 2rem 1rem;
}

.thesis .slogan-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.25rem;
  padding-bottom: 1.75rem;
}

.thesis .slogan-box p {
  font-size: 1.15rem;
  padding-bottom: 1.75rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.thesis .slogan-box .button {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #41567C;
  padding: .5rem 2.5rem;
  border-radius: 0.75rem;
  width: 25%;
}

.thesis .info-cards {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-top: 1rem;
  border-left: 1px solid hsl(218, 19%, 21%);
}

.thesis .info-card {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid hsl(218, 19%, 21%);
}

.thesis .info-card .mini-img {
  width: 35%;
  padding: 1rem 1rem;
  display: flex;
}

.thesis .info-card .mini-img img {
  max-width: 11rem;
  display: flex;
}

.thesis .info-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  padding: 0 2rem 0 .5rem;
  text-align: left;
  line-height: 1.5rem;
  /* padding-left: .5rem; */
}

.thesis .info-card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: .75rem;
  color: hsl(85, 47%, 52%);
}

.thesis .info-card h5 {
  padding-bottom: .75rem;
}

.info-card .button {
  font-weight: 500;
  background-color: #41567C;
  padding: .5rem 1.25rem;
  border-radius: .75rem;
  transition: all .5s 150ms;
  color: white;
}

.info-card .button:hover {
  color: hsl(198.4, 84.3%, 57.5%);
  background-color: hsl(0, 2.5%, 25%)
}

.thesis .info-card:hover  {
  background-color: hsl(18, 87%, 11%);
  color: hsl(18, 87%, 85%);
  }

.thesis .info-card:hover h4 {
  color: hsl(18, 87%, 85%);
}

.thesis .info-card:hover .button {
  background-color: hsl(85, 88%, 20%);
  color: #87AE51;
}



/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 2rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.85rem;
  padding: 1rem 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 1px solid hsl(218, 19%, 21%);
  background-color: hsl(18, 87%, 11%);
  color: hsl(18, 87%, 85%);
}

footer nav ul {
  display: inline-flex;
  align-items: center;
}

footer nav li:first-child {
  padding-right: 1rem;
}
