/* Base Styles */
html, body {
  font-family: "Ubuntu", "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

.img-box {
  margin: 2rem 1.5rem;
}

/* Header */
header {
  display: flex;
  height: 4rem;
  width: 100%
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: hsl(0, 2.5%, 31%);
  border-bottom: 1px solid hsl(0, 2.5%, 31%);
  font-family: "Ubuntu", sans-serif;
}

.logo {
  display: inline-flex;
  font-size: 1.5rem;
  }

.logo img {
  height: 2rem;
  width: auto;
}

.logo h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.logo .bold {
  font-weight: bold;
}

.logo .light {
  font-weight: 300;
}

header nav ul {
  display: inline-flex;
  align-items: center;
  }

header nav li {
  padding-right: 1rem;
  font-size: 1.25rem;
}

header nav li:last-child {
  padding-right: 0;
}

/* Banner */
.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(0, 3%, 75%);
  font-family: "Rubik", sans-serif;
  border-bottom: 1px solid hsl(0, 3%, 31%);
}

.banner .img-box {
  display: flex;
  /* margin: 2rem 1.5rem; */
  max-width: 48rem;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.banner .img-box img {
  border: 1px solid hsl(0, 3%, 31%);
}

.banner .slogan-box {
  width: 35%;
  color: hsl(0, 2.5%, 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .slogan-box h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  padding-bottom: 1.75rem;
}

.banner .slogan-box h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding-bottom: 1.25rem;
}

.banner .slogan-box .button {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: hsl(0, 2.5%, 25%);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* Information */
.information {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: hsl(0, 2.5%, 31%);
  border-bottom: 1px solid hsl(0, 3%, 75%);
}

.information .img-slog {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  width: 60%;
  padding-bottom: 2rem;
}

.information .img-slog .img-box {
  display: flex;
  /* margin: 2rem 1.5rem; */
  max-width: 48rem;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.img-slog .slogan-box {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 2rem;
}

.img-slog .slogan-box h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.25rem;
  padding-bottom: 1.75rem;
}

.img-slog .slogan-box p {
  font-size: 1.15rem;
  padding-bottom: 1.75rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.information .info-cards {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
  border-left: 1px solid hsl(0, 3%, 85%);
}

.information .info-card {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid hsl(0, 3%, 85%);
}

.information .info-card:last-child {
  background-color: hsl(0, 3%, 80%);
}

.information .info-card .mini-img {
  width: 35%;
  padding: 1rem 1rem;
}

.information .mini-img img {
  max-width: 11rem;
}

.information .info-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  padding-right: 2rem;
  text-align: left;
  line-height: 1.5rem;
}

.information .content h4 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: .75rem;
}

.information .content h5{
  padding-bottom: .75rem;
}

.information .content a {
  color: hsl(198.4, 84.3%, 57.5%);
}

/* Courses */
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4.5rem;
  background-color:  hsl(0, 3%, 95%);
  color: hsl(0, 2.5%, 31%);
  border-bottom: 1px solid hsl(0, 3%, 85%);
}

.courses h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  padding-bottom: 2rem;
}

.courses .course-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.courses .course-cards figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18.5rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.course-cards figure img {
  width: 18.5rem;
}

.course-card figcaption {
  padding: 1rem 1rem 1.5rem 1rem;
  width: 16.5rem;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  background-color: white;
  height: 7rem;
}

.course-card figcaption h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  padding-bottom: .75rem;
}

.course-card figcaption h5 {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-bottom: .5rem;
}
